<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
    <div class="loginBox"> <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
        
        <h3>Sign in here</h3>
        <form [formGroup]="registerForm" (ngSubmit)="submitForm()">
            <div class="inputBox">
                <input id="uname" type="text" name="Username" placeholder="Username" formControlName="username">
                <input id="mail" type="text" name="mail" placeholder="Mail" formControlName="mail">
                <input id="pass" type="password" name="Password" placeholder="Password" formControlName="password">
            </div>
            <input type="submit" name="" value="Login">
        </form>
        <a href="#" style="color: #59238F;">Sign up<br> </a>


    </div>
</body>
