@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@200;300&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.section {
	display: flex;
	justify-content: center;
	align-items: center;
}

.div1 {
	position: relative;
	padding: 50px;
	width: 80%;
	height: 700px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0,0.1);
	border-radius: 6px;
	box-shadow: 0 5px 35px rgba(0,0,0,0.2);
}

.div1::after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 5px;
	pointer-events: none;
	background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, rgba(255,255,255,0.1) 15%, transparent 50%, transparent 85%, rgba(255,255,255,0.3) 100%);
}

.div1 .div2 {
	position: relative;
	width: 100%;
}

.div1 .div2 h2 {
	color: #000;
	font-weight: 600;
	letter-spacing: 2px;
	margin-bottom: 30px;
	margin-top: 30px;
}

.div1 .div2 .div3 {
	position: relative;
	width: 100%;
	margin-bottom: 20px;
}

.div1 .div2 .div3 .input {
	width: 35%;
	outline: none;
	border: 1px solid rgba(0,0,0,0.2);
	background: transparent;
	padding: 8px 10px;
	border-radius: 6px;
	color: #000;
	font-size: 16px;
	font-weight: 300px;
	box-shadow: inset 0 0 25px rgba(0,0,0,0.2);
}

.div1 .div2 .div3 .input[type="submit"] {
	background: #fff;
	color: #111;
	max-width: 100px;
	padding: 8px 10px;
	font-weight: 500;
	letter-spacing: 1px;
	cursor: pointer;
}

.div1 .div2 .div3 .input::placeholder {
	color: #000;
	opacity: 0.5;
}

.section .div4 {
	position: absolute;
	left: 45%;
	top: 15%;
}

